# Bytecode
__pycache__/
*.pyc

# Logs
*.log

# Output images and plots
*.png
*.pkl
*.txt
*.csv

# Profiling and evaluation
*.prof
profile_*.*
embed_eval_output/
slurm_bash_scripts/
logs/

# Environment files
.env
*.tar.gz

# Dataset files
data/
gvp-pytorch/
